<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradehub</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            {% if 'loggedin' in session %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
                <li><a href="{{ url_for('enter_grades') }}">Enter Grades</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <header>
        <h1>🎓 Welcome to Gradehub</h1>
        <p>Your one-stop solution for managing grades and assignments.📚</p>
        <a href="{{ url_for('register') }}" class="btn">Get Started</a>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2025 Gradehub. All rights reserved.</p>
    </footer>
</body>
</html>
